<h1>Listing Articles</h1>
<%= link_to 'all articles', controller: 'articles' %>|
<%= link_to 'all users', controller: 'users' %>

<table>
  <tr>
    <th>author</th>
    <th colspan="2"></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.author %></td>
      <td><%= link_to 'Login', login_path(user) %></td>
    </tr>
 <% end %>
</table>

